*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header,footer{
    min-height:10vh;
    background:salmon;
}
h2,h3{
    text-align: center;
}

main {
    min-height: 80vh;
    background:cornflowerblue;
    padding:1%;
}

.todo-card {
    width:70%;
    margin:2% auto;
    border:1px solid black;
    background:white;
    display: flex;
    flex-direction: column;
    border-radius:50px 0;
    box-shadow:5px 5px 10px 10px black;
    min-height: 20vh;
    justify-content: space-around;
    align-items: center;
}

.todo-card button {
    align-self: stretch;
}

.complete {
    text-decoration: line-through;
    font-style: italic;
    opacity:0.5;
}
.incomplete {
    text-decoration: none;
    font-style: none;
    opacity:1;
}

#addTodoForm {
    margin:0 auto;
    width:20%;
    border:1px solid black;
    display: flex;
    flex-direction: column;
}